<mat-card>
  <mat-card-header>
    <mat-card-title>Pizze</mat-card-title>
   </mat-card-header>
    <mat-card-content>
      <input type="text" [(ngModel)]="searchingPizza" />
    <mat-selection-list #selectedPizzas>
      <mat-list-option *ngFor="let pizza of pizzas | filter:searchingPizza:'name'">
        {{pizza.name}}
      </mat-list-option>
    </mat-selection-list>
    <p>
      Options selected: {{selectedPizzas.selectedOptions.selected.length}}
    </p>
  </mat-card-content>
</mat-card>
